<nav class="bg-white shadow-lg pt-3">
  <div class="container flex justify-between items-center">
    <div class="flex space-x-4 pt-2 ">
      <a
      *ngFor="let page of pages"
      class="no-underline px-3 relative inline-block pb-2 border-b-2 text-lg
       hover:border-agroGreen transition duration-300 text-center opacity-50"
      [routerLink]="page.link"
      [routerLinkActive]="['border-agroGreen', 'opacity-100']"
      [routerLinkActiveOptions]="
      page.name == 'Home' ? { exact: true } : { exact: false }
    "
    >
    <span class="text-center text-gray-800">{{ page.name }}</span>
    </a>
    </div>

    <button class="bg-agroYellow text-black py-2 px-4 mb-1 rounded hover:opacity-70">
      Login
    </button>
  </div>
</nav>
