<div id="home" class="h-screen">
    <div class="bg-cover bg-center h-full relative" style="background-image: url('../assets/images/background1.jpg');">
        <div class="absolute inset-0 bg-black opacity-60"></div>
        <div class="container absolute inset-0 flex justify-stretch">
			<div class="container inset-0 flex items-center">
				<button class="rounded-full bg-agroBrown w-32 p-2 text-white">click</button>
			</div>
			<div class="container inset-0 flex items-center">
				<h1>sd</h1>
			</div>
        </div>
    </div>
</div>
